<div class="col-md-12 p-0" ng-transclude>
    <div class="col-md-3">
        <input ng-model="issueFilter.queryText" ng-change="filterIssuesFromInput()" type="text" class="form-control"
               name="issue-query" placeholder="Filter by comment...">
    </div>
    <div class="col-md-3">
        <select name="issueFilterType" id="issueFilterType" class="form-control"
                ng-change="filterIssuesFromInput()"
                ng-options="option.name for option in issueTypes track by option.id"
                ng-model="issueFilter.selectedType"></select>
    </div>
    <div ng-if="issueRetrievalStatus !== undefined" class="col-md-3 p-t-10">{{issueRetrievalStatus}}</div>
    <div ng-controller="BikeRacksCtrl">
        <label>
            <input type="checkbox" ng-model="bikeRacksCheckbox.checked" ng-change="showBikeRacks()">
            Show bike racks
        </label>
    </div>
</div>
