<div class="side-bar right-bar">
    <div class="nicescroll">
        <h4>Create a new Issues</h4>
       <form style="margin: 5px;">

           <form class="form-inline">
           <div class="form-group">
               <label for="longitude">Longitude</label>
               <input type="number" class="form-control" id="longitude">
           </div>

           <div class="form-group">
               <label for="latitude">Longitude</label>
               <input type="number" class="form-control" id="latitude">
           </div>
           </form>

           <fieldset class="form-group">
               <legend>Types of Issues</legend>
               <div class="form-check">
                   <label class="form-check-label">
                       <input type="radio" class="form-check-input" name="optionsRadios" id="hazard" value="hazard">
                        Hazard
                   </label>
               </div>
               <div class="form-check">
                   <label class="form-check-label">
                       <input type="radio" class="form-check-input" name="optionsRadios" id="pothole" value="pothole">
                       Pothole
                   </label>
               </div>
               <div class="form-check">
                   <label class="form-check-label">
                       <input type="radio" class="form-check-input" name="optionsRadios" id="damage" value="damage">
                       Damage
                   </label>
               </div>
               <div class="form-check">
                   <label class="form-check-label">
                       <input type="radio" class="form-check-input" name="optionsRadios" id="theft" value="theft">
                       Theft
                   </label>
               </div>
           </fieldset>

           <div class="form-group">
               <label for="comments">Comments</label>
               <textarea class="form-control" id="comments" rows="3"></textarea>
           </div>

           <button type="submit" class="btn btn-primary">Submit</button>
           <button type="submit" class="btn btn-primary">Cancel</button>
       </form>
    </div>
</div>
