<div class="side-bar right-bar">
    <div class="nicescroll">
        <h4>Create a new Issues</h4>
       <form style="margin: 5px;">

           <div class="form-group">
               <label for="longitude">Longitude</label>
               <input type="number" class="form-control" id="longitude" step="any" ng-model="lng">
           </div>
           <div class="form-group">
               <label for="latitude">Latitude</label>
               <input type="number" class="form-control" id="latitude" step="any" ng-model="lat">
           </div>


           <fieldset class="form-group">
               <legend>Select the type of Issues</legend>
               <div class="form-check">
                   <label class="form-check-label">
                       <input type="radio" ng-model="typeOfIssue" value="hazard" >
                        Hazard
                   </label>
               </div>
               <div class="form-check">
                   <label class="form-check-label">
                       <input type="radio" ng-model="typeOfIssue" value="pothole">
                       Pothole
                   </label>
               </div>
               <div class="form-check">
                   <label class="form-check-label">
                       <input type="radio" ng-model="typeOfIssue" value="damage">
                       Damage
                   </label>
               </div>
               <div class="form-check">
                   <label class="form-check-label">
                       <input type="radio" ng-model="typeOfIssue" value="theft">
                       Theft
                   </label>
               </div>
           </fieldset>

           <div class="form-group">
               <label for="comments">Comments</label>
               <textarea class="form-control" id="comments" rows="3" ng-model="comments" required></textarea>
           </div>

           {{lat}}
           {{lng}}
           {{comments}}
           {{typeOfIssue}}
           <button type="submit" class="btn btn-primary" ng-click="createIssue(lng,lat,typeOfIssue,comments)">Submit</button>
           <button type="submit" class="btn btn-primary">Cancel</button>
       </form>
    </div>
</div>
