<div ng-controller="SidebarCtrl" class="sidebar">
    <div class="sidebar-main" >
        <a ng-click="toggleSidebar()" style="color: #99d6ff;">
            Bike App
            <span class="menu-icon glyphicon glyphicon-transfer" style="float:right;"></span></a>
    </div>
    <ul class="sidebar-content p-0 p-t-10">
        <li class="row sidebar-list-header m-t-20">
            <div class="col-md-7 m-0">Comments</div>
            <div class="col-md-5 m-0">Date</div>
        </li>
        <li ng-repeat="mark in markers | filter: filterMarkersForIssues track by $index" ng-click="toggleExpanded(mark)" class="sidebar-item row p-v-10">
            <div class="col-md-7 m-0">
                <span ng-if="mark.message.length > 17"><i ng-class="mark.expanded != true ? 'fa-angle-right' : 'fa-angle-down'" class="fa" aria-hidden="true"></i></span>
                <span ng-if="mark.expanded != true">{{mark.message | limitTo: 17}}</span>
                <span ng-if="mark.expanded == true">{{mark.message}}</span>
            </div>
            <div class="col-md-5 m-0">{{mark.timestamp | date:"MM/dd/yyyy "}}</div>
        </li>
    </ul>
</div>
<div class="sidebar-footer">
    <div class="col-xs-6">
        <a href="https://github.com/stefanmilenkovic/DH2642-project" target="_blank">
            Github
        </a>
    </div>
    <div class="col-xs-6">
        <a href="https://github.com/stefanmilenkovic/DH2642-project/wiki" target="_blank">
            About
        </a>
    </div>
</div>
